
body {
    background-color: #ffffff;
    font-family: "Prata", serif;
    color: #333333;
    font-size: 15px;
    overflow-x: hidden;
    line-height: 24px;
  }

.signup-btn{
  margin-left: -150px;

}
/*==================
	SLIDER SECTION
====================*/


  
  .mu-slider-area {
    display: inline;
    float: left;
    width: 100%;
  }
 
  
  
  .mu-top-slider .mu-top-slider-single img {
    width: 100%;
  }
  
  .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    position: absolute;
    left: 15%;
    top: 30%;
    right: 15%;
    text-align: center;
    z-index: 99;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  
  .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
    font-family: "Tangerine", cursive;
    font-size: 100px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
  }
  .carousel-img {
    background-color: rgba(0, 0, 0, 0.5);

  }
  .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    color: #fff;
    font-size: 70px;
    line-height: 90px;
  }
  
  .mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 30px;
  }
  





  
  
/*==================
 HEADER SECTION
====================*/




#mu-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
  .menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      text-align: center;
      z-index: 1;
      font-size: 1.2 ;
      
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  
#mu-about-us {
    display: inline;
    float: left;
    width: 100%;
    padding: 100px 0;
  }
  
  .mu-about-us-area {
    display: inline;
    float: left;
    width: 100%;
  }
  
  .mu-about-us-right {
    display: inline;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 15px;
    width: 100%;
  }
  
  .mu-about-us-right ul {
    margin-bottom: 20px;
    padding-left: 25px;
  }
  
  .mu-about-us-right ul li {
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  .mu-about-us-right ul li:before {
    content: "\f0da";
    font-family: fontAwesome;
    margin-right: 10px;
  }
  
  .mu-about-us-left {
    display: inline;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    padding-right: 15px;
    width: 100%;
  }
  
  .mu-title {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .mu-title .mu-subtitle {
    font-size: 50px;
    font-family: "Tangerine", cursive;
    line-height: 30px;
  }
  
  .mu-title h2 {
    color: #000;
    font-size: 35px;
    margin-bottom: 5px;
  }

    
  /*scrol to top*/
  
  .scrollToTop {
    bottom: 60px;
    color: #fff;
    display: none;
    font-size: 30px;
    line-height: 50px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 55px;
    z-index: 999;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 55px;
    border-radius: 50%;
  }
  
  
  .scrollToTop:hover,
  .scrollToTop:focus {
    color: #fff;
  }


  /* Style pour le bouton "Commander" */
.mu-readmore-btn {
    background-color: #f4a570;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.mu-readmore-btn:hover {
    background-color: #f28a4e;
}

  
  /* Header.css */
#mu-header {
    /* Header styles */
  }
  
  .navbar {
    background-color: #e2e2e2;
  }
  
  .container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-bar {
    background-color: #fff;
  }

  .brand-link {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-decoration: underline;
    
  }
  .brand-link:hover {
    color: #fff;
  }
  




  /* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

/* Styles du panier */
#cart {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0;
}

.remove-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #ff2415;
}

#checkout-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #45a049;
}

/* Styles du pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}
