

.signup-body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../../public/images/login/bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .signup-form {
    text-align: center;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  input[type="address"],
  input[type="text"],
  input[type="password"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .signup-container{
    width: 400px!important;
  }
  button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #d3d3d3;
  }
  
  .signup-title {
    color: #fff;
    text-shadow: 1px 1px 1px black;
  }

.message {
  margin-top: 20px;
  color: #fff;
  font-style: bold;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;

}